---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 class="titulo-del-home">🧑‍🚀 Bienvenidos al Centro de Dia!</h1>
			
			<p><strong>
				Estamos muy contentos de recibirte en nuestra Pagina Web.
				<br>
				En esta pagina vas a encontrar todo lo relacionado a nuestro Centro de Dia🤗🙌
			</p>

			<!-- 
			<p>Here are a few ideas on how to get started with the page:</p>
			<ul>
				<li>item de centro de dia</code></li>
				<li>item de centro de dia</li>
				<li>item de centro de dia</li>
				<li>item de centro de dia</li>
				<li>item de centro de dia</li>
			</ul> -->
			
			<p>Desde el momento en que nuestros pacientes cruzan nuestras puertas, les damos la bienvenida con una sonrisa y un ambiente cálido y acogedor. Entendemos que para muchas personas con discapacidad, venir a un centro de día puede ser un paso importante para su autonomía y desarrollo personal. Por lo tanto, nos esforzamos por crear un espacio donde se sientan seguros, respetados y valorados.

				Nuestro personal está altamente capacitado y comprometido a proporcionar una atención personalizada a cada usuario. Nos tomamos el tiempo para conocer a cada persona individualmente, comprendiendo sus necesidades, preferencias y metas. Esta relación cercana nos permite adaptar nuestros programas y actividades para satisfacer las necesidades únicas de cada usuario, promoviendo su desarrollo y bienestar.
				
				La comunicación efectiva es fundamental en nuestro centro. Nos aseguramos de escuchar atentamente las preocupaciones y deseos de nuestros usuarios, fomentando un ambiente donde se sientan libres de expresarse y ser escuchados. Además, trabajamos en estrecha colaboración con las familias y cuidadores para garantizar una atención coordinada y centrada en el usuario.
				
				Ofrecemos una amplia gama de actividades diseñadas para promover el desarrollo físico, cognitivo y emocional de nuestros usuarios. Desde actividades recreativas hasta terapias especializadas, nuestro objetivo es brindar oportunidades significativas que fomenten la autonomía, la inclusión y la participación social.
				
				Además de las actividades en el centro, también nos comprometemos a ofrecer apoyo y recursos a nuestras familias y cuidadores. Entendemos que cuidar a una persona con discapacidad puede ser desafiante, y estamos aquí para ofrecer orientación, asesoramiento y apoyo emocional a quienes lo necesiten.
				
				En resumen, en nuestro centro de día para personas con discapacidad, la atención va más allá de lo físico; se trata de brindar un entorno de cuidado, respeto y apoyo donde cada usuario pueda alcanzar su máximo potencial. Nos enorgullece ser parte de la vida de nuestros usuarios y de su viaje hacia una vida plena y significativa.</p></strong>

		</main>
		<Footer />
	</body>
</html>
